/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

.section {
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 360px;
}

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

/* header */

.header {
  position: absolute;
  left: 50%;
  top: 10px;

  transform: translate(-50%);

  width: 100%;
  max-width: 360px;
}

.header .container {
}

.header .short-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .info {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 110%; /* 15.4px */
}

/* hero */

.hero {
  padding-top: 90px;

  background-image: url(../img/hero/bg-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 430px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/bg-2x.jpg);
  }
}

.hero .title {
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  color: #fff;
  font-family: 'Cormorant Infant';
  font-size: 92px;
  font-style: normal;
  font-weight: 400;
  line-height: 75%;
  letter-spacing: -8.492px;
  text-transform: uppercase;

  max-width: 330px;

  margin-bottom: 410px;
}

.hero .title .first-letter {
  color: #fff;
  font-family: Kindentosca;
  font-size: 94.36px;
  line-height: 46%;
  padding-right: 10px;
  text-transform: uppercase;
}

.hero .title .accent {
  color: #ffd967;
  font-family: 'Cormorant Infant';
  font-size: 94.36px;
  letter-spacing: -8.492px;
  text-transform: uppercase;
}

.hero .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  letter-spacing: -0.4px;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.btn {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: uppercase;

  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(90deg, #83c0ff 0%, #007cff 100%);
  box-shadow: 2px 4px 0px 0px #007cff;

  border: inherit;
  max-width: 320px;
  margin: 0 auto;

  animation: pulseScale 2000ms infinite;
}

/* bonus */

.bonus {
  padding: 60px 0;
}

.bonus .container {
}

.bonus .bonus-title-container {
  display: flex;
  align-items: start;
  justify-content: space-between;

  margin-bottom: 4px;
}

.bonus .text-box {
  max-width: 264px;
}

.bonus .bonus-subtitle {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.bonus .bonus-subtitle span {
  font-weight: 500;
}

.bonus .title {
  margin-top: -10px;

  color: #75b8ff;
  font-family: 'Cormorant Infant';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.bonus .bonus-arrow {
}

.bonus .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  margin-bottom: 55px;
}

.bonus .list-item {
}

.bonus .bonus-image {
}

/* timer */

.timer-title {
  color: #75b8ff;
  text-align: center;
  font-family: Kindentosca;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 45px */
  text-transform: lowercase;
}

.timer-subtitle {
  margin-top: -10px;

  color: #090909;
  text-align: center;
  font-family: 'Cormorant Infant';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  letter-spacing: -2.16px;
  text-transform: uppercase;

  margin-bottom: 16px;
}

/* timer */

.timer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 42px;

  border-radius: 15.075px;
  background: #e6f2ff;

  padding: 16px;
}

.timer__items {
  display: flex;
  justify-content: center;
}
.timer__item {
  position: relative;

  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 28.14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.563px;

  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.timer__item:first-child {
  margin-left: 0;
}

.timer__item:last-child {
  margin-right: 0;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 13px;
}
.timer__item:not(:last-child)::after {
  content: '';

  width: 1px;
  height: 25px;
  background: #000;

  position: absolute;
  top: 4px;
  right: -11px;
}

/* about-course */

.about-course {
  padding-top: 60px;
  padding-bottom: 380px;

  background-image: url(../img/about-course/bg-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 430px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-course {
    background-image: url(../img/about-course/bg-2x.jpg);
  }
}

.about-course .container {
}

.about-course .title {
  color: #fff;
  font-family: 'Cormorant Infant';
  font-size: 58.143px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 52.329px */
  letter-spacing: -4.07px;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.about-course .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 60px;
}

.about-course .list-item {
  display: flex;
  align-items: center;
  gap: 14px;

  border-radius: 7px;
  background: #fff;
  padding: 16px 20px;
}

.about-course .item-image {
}

.about-course .item-text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;

  max-width: 230px;
}

.about-course .about-course-text {
  color: #fff;
  text-align: center;
  font-family: Kindentosca;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 27.9px */
}

/* program */

.program {
  padding: 60px 0;
}

.program .container {
}

.program .title {
  color: #75b8ff;
  font-family: 'Cormorant Infant';
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 51.3px */
  letter-spacing: -3.99px;
  text-transform: uppercase;
}

.program .subtitle {
  margin-top: -40px;

  color: #090909;
  font-family: Kindentosca;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 57.6px */

  margin-bottom: 36px;
}

/* questions */

.program-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;

  margin-bottom: 60px;
}

.program-item-svg {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;

  flex-shrink: 0;
  background-image: url('../img/question-arrow.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.program-item.active .program-item-svg {
  transform: rotate(45deg);
}

.program-list .program-item .program-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.program-wrapper {
  min-height: 0;
}

.program-list .program-item.open .program-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.program-item {
  cursor: pointer;
}

.program-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 16px;
  border-radius: 5.025px;
  background: #fff0c2;
}

.program-title-container .title-box {
  display: flex;
  align-items: center;
  gap: 16px;

  max-width: 246px;
}

.program-title-container .item-number {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.42px;
}

.program-item-title {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  max-width: 201px;
}

.answer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: square;

  padding-top: 20px;
  padding-left: 46px;
  padding-bottom: 20px;
}

.program-answer {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.48px;
}

/* access */

.access-to-course {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

.heart-1 {
  position: absolute;
  top: -20px;
  right: -10px;
}

.heart-2 {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.access-text {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 21.015px;
  font-style: normal;
  font-weight: 300;
  line-height: 115%; /* 24.167px */
  letter-spacing: -0.42px;
  text-transform: uppercase;
}

.access-date {
  color: #75b8ff;
  text-align: center;
  font-family: Kindentosca;
  font-size: 47.284px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 42.555px */
}

/* price */

.price {
  padding: 60px 0;
}

.price .container {
}

.price .price-wrapper {
  padding: 48px 20px 60px;
  border-radius: 20px;
  background: rgba(60, 155, 255, 0.25);
}

.price .title {
  color: #090909;
  text-align: center;
  font-family: 'Cormorant Infant';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 43.2px */
  letter-spacing: -2.4px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.price .old-price {
  color: rgba(60, 155, 255, 0.5);
  font-family: 'Helvetica Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.48px;
  text-decoration: line-through;
  text-transform: uppercase;

  padding: 6px 24px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  max-width: 151px;
}

.price .price1 {
  transform: rotate(-7deg);
  margin-bottom: -20px;
}

.price .price2 {
  margin: 0 0 0 auto;
  transform: rotate(6deg);
  margin-bottom: -4px;
}

.price .new-price {
  color: #3c9bff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  letter-spacing: -0.56px;
  text-transform: uppercase;

  border-radius: 30px;
  background: #fff;
  padding: 6px;

  max-width: 182px;
  margin: 0 auto;
}

.price .price3 {
}

.price .btn {
  width: 100%;
  max-width: 260px;

  margin-top: -40px;
  margin-bottom: 54px;
}

/* modal */

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding-top: 50px;
  padding-right: 6px;
  padding-bottom: 24px;
  padding-left: 6px;

  max-width: 375px;
  width: 100%;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  height: 500px;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
